.wishlist-container {
  display: flex;
  position: absolute;
  margin-top: 8rem;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  align-items: center;
}

.wishlist-products-container {
  display: flex;
  gap: 2rem;
  margin: 3rem;
  justify-content: center;
  flex-wrap: wrap;
}

.products-container {
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  gap: 3.5rem;
  margin: 0rem 0rem 0 23rem;
  padding: 10rem 0 2rem 0;
}

.prod-img {
  height: 10rem;
  width: 10rem;
  object-fit: contain;
}
.product-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 14rem;
  box-shadow: 0 0 10px -2px grey;
  padding: 1.3rem;
}
.cart-btn {
  background-color: grey;
  color: white;
  font-weight: bolder;
  font-size: large;
  border: none;
  border-radius: 0.5rem;
}
.wishlist-icon {
  position: absolute;
  top: px;
  right: 13px;
  font-size: 1.3rem;
  color: grey;
}

.prod-title,
.prod-cost
 {
  font-weight: bolder;
  font-size: 1rem;
  margin: 0.5rem 0;
}

.prod-description {
  color: gray;
  margin-top: 0;
}

.prod-button {
  padding: 0.5rem;
  background-color: rgb(29, 28, 28);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bolder;
}

.prod-button:hover {
  background-color: white;
  color: rgb(29, 28, 28);

  border: 0.5px solid grey;
}

.remove-button {
  background-color: rgb(128, 8, 8);
}
.filled-icon {
  color: rgb(223, 18, 18);
}

@media (max-width: 700px) {
  .products-container {
    margin-left: 40%;
    justify-content: center;
  }

  .product-container {
    width: 10rem;
  }
}
