.cart-container {
  position: absolute;
  margin: 8rem 2rem 0 5rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
}
.cartprod{
  font-weight: bolder;
}
.empty-container {
  position: absolute;

  height: 15vh;
  width: 80vw;
}
.empty-container-link {
  text-decoration: none;
}

.cart-products-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}



.cart-product-container {
  display: flex;
  border: 1px solid grey;
  border-radius: 1rem;
  padding: 0.5rem;
  gap: 2rem;
  align-items: center;
}

.cart-product-img {
  height: 10rem;
  width: 9rem;
}
.cart-productDetail-container {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
}

.price-details-container {
  border: 1px solid grey;
  border-radius: 1rem;
  padding: 1rem;
  height: fit-content;
  width: 25rem;
}


.cart-product-qty{
    padding: 0.2rem 1rem;
    border-radius: 0.5rem;
    margin: 0 0.3rem;
    color: white;
    background-color: rgb(31, 30, 30);
    border: none;


   
}

.cart-product-button > button{
    margin: 0.5rem 0.5rem 0.5rem 0;
    padding: 0.5rem;
  background-color: rgb(29, 28, 28);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: bolder;
  width: 10rem;

}
.cart-product-detail{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

     .cart-product-button  >button :hover {
    background-color: white;
    color: rgb(29, 28, 28);
  
    border: 0.5px solid grey;
  }
  
.disable{
    background-color: grey;
}
.price-details{
    display: flex;
    gap: 1rem;
  justify-content: space-between;
  
}

.checkout-button{
    text-align: center;
}

