.main{
  position: absolute;
  margin-top: 5.5rem;
  width: 100vw;

}

.hero-background {
  height: 25rem;
  object-fit: contain;
  background-color: rgb(156, 156, 86);
  color: aliceblue;
  font-size: 3rem;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 0.3rem;

}
.title{
  background-color: rgb(43, 41, 41);
color: white;
border-radius: 5rem;
border: none;
padding: 1rem;
font-size: large;

}
.prod-categories {
  font-weight: bolder;
}

.category-types {
  display: flex;
  gap: 3rem;
  justify-content: space-around;
  padding: 2rem;
  flex-wrap: wrap;
  margin-bottom: 5rem;
  

}

.category-title {
  padding: 2rem;
  font-size: 1.2rem;
}

.category-type {
  box-shadow: 0 0 10px -2px grey;

  width: 13rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.category-type-img {
  height: 10rem;
  width: 10rem;
}


.brand-title {
  font-size: 1.1rem;
  font-weight: bolder;
  text-align: center;
}

.brands {
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding: 2rem;
  flex-wrap: wrap;
}

.brand-name {
  background-color: rgb(43, 40, 40);
  color: white;
  padding: 2rem;
}