.hero-img {
  height: 25rem;
  width: 100vw;
  object-fit: cover;
}

.prod-categories {
  font-weight: bolder;
}

.category-types {
  display: flex;
  gap: 3rem;
  justify-content: space-around;
  padding: 2rem;
  flex-wrap: wrap;
}
.category-title {
  padding: 2rem;
  font-size: 1.2rem;
}

.category-type {
  border: 1px solid grey;
  /* box-shadow: 0 0 ; */
  height: 10rem;
  width: 13rem;

  text-align: center;
}

.brand-title {
  font-size: 1.1rem;
  font-weight: bolder;
  text-align: center;
}
.brands {
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding: 2rem;
  flex-wrap: wrap;
}

.brand-name {
  background-color: rgb(43, 40, 40);
  color: white;
  padding: 2rem;
}
