.navbar {
  display: flex;
  justify-content: space-between;
  font-weight: bolder;
  box-shadow: 0px 1px 1px 0px grey;
  align-items: center;
  padding: 0.7rem;
  position: fixed;
  z-index: 1;
  background-color: white;
  width: 100vw;
}

.brand-title {
  font-size: 2rem;
  font-weight: bolder;
}
.nav-profile{
  margin-bottom: 0.9rem;
}
.nav-elements {
  display: flex;
  gap: 3rem;
  align-items: center;
  padding-right: 3rem;
  margin: 0.3rem;
}
.nav-icons {
  font-size: 1.7rem;
}

.icon-type {
  font-size: medium;
  margin: 0;
}
.nav-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.3rem;

}
.search-element {
  width: 30rem;
  height: 1rem;
  margin: 0 2rem;
  /* display: none; */
}
.hamburger-link {
  text-decoration: none;
  color: inherit;
}

.toggle-button {
  position: absolute;
  top: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 18px;
}

.toggle-button .bar {
  height: 3px;
  background-color: black;
  border-radius: 10px;
  width: 100%;
}

.hamburger {
  position: fixed;
  top: -0.1rem;
  left: -1rem;
  z-index: 1;
  height: 100vh;
  width: 15rem;
  background-color: white;
  color: black;
  text-align: center;
  box-shadow: 0px 1px 1px 0px grey;
}
.hamburger-link {
  padding: 1rem;
}

.hamburger-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding-top: 2rem; */
}
.hamburger-link:hover {
  background-color: grey;
}

.cancel-icon {
  font-size: 1rem;
  font-weight: bold;
}

.hamburger-user {
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1.5rem;
  background-color: black;
  color: white;
}
.nav-link {
  padding: 0.7rem;
  border-radius: 8rem;
  text-align: center;
  font-size: 1.3rem;
}

.nav-link:hover{
  border: 0.1px solid grey;
background-color : rgb(148, 144, 144);
}
.badge{
border-radius: 50%;
width: 1rem;
padding: 0.1rem;
font-size: 0.75rem;
text-align: center;
background-color: rgb(214, 70, 70);
color: white;
position: relative;
bottom:3.1rem;
left: 0.8rem;


}
@media (max-width: 700px) {
  .toggle-button {
    display: flex;
  }

  .media-query {
    display: none;
  }
  .brand-title {
    padding: 0 0 1rem 3rem;
    
  }

  .search-element{
    display: none;
  }

  .navbar{
    justify-content: space-around;
    
  }
}
