.header {
  display: flex;
  justify-content: space-between;
  font-weight: bolder;
  box-shadow: 0px 1px 1px 0px grey;
  align-items: center;
  padding: 1.2rem;
  /* position:fixed ;
 z-index: 99;
 width: 100%; */
  
 
}

.header-title{
  font-size:20px ;
  font-weight: bolder;
  
}
.nav-elements {
  display: flex;
  gap: 3rem;
  
}
.nav-icons{
  font-size: 1.7rem;
 
}

.icon-type{
  font-size: small;
  margin: 0;
}
.nav-elements div{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-element{
  width: 30%;
  height: 2rem;
}
.nav-link{
  text-decoration: none;
  color: inherit;
}
