.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: rgb(46, 45, 45);
  padding: 0.5rem 0 1rem;
  
}

p {
  font-size: 1.2rem;
  font-weight: bolder;
}
.nav-link-footer {
  text-decoration: none;
  color: inherit;
  padding: 0 1rem;
  font-size: larger;
}
